<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <!--Global -->
  <appSettings>
    <add key="TOPIC_JSON" value="HelpTopics.json"/>
    <add key="TASK_JSON" value="Tasks.json"/>
    <add key="SMTP_SERVER" value="email.cincinnatilibrary.org"/>
    <add key="FROM_ADDRESS" value="no-reply@cincinnatilibrary.org"/>
    <add key="TOPIC_SUBJECT" value="{0} Ticket Violations"/>
    <add key="TASK_SUBJECT" value="{0} Department Task Violations"/>
    <add key="TOPIC_BODY" value ="{0}{1} for {2}{3}"/>
    <add key ="TICKET_URL" value="http://rufusdev.plch.net/helpdesk/scp/tickets.php?id={0}"/>
    <add key ="TASK_URL" value="http://rufusdev.plch.net/helpdesk/scp/tasks.php?id={0}"/>
  </appSettings>
  
  <!-- DEBUG -->
  <connectionStrings>
    <add name="OsTicket" connectionString="server=plchintbeta;database=osticketdev;uid=osticket;pwd=XXXXXXXXXXXXXXX"/>
  </connectionStrings>

  <!-- RELEASE -->
  <!--<connectionStrings>
    <add name="OsTicket" connectionString="server=webutility;database=osticket;uid=osticket;pwd=HF5sK5Nzjjk1Fnqyv8p7"/>
  </connectionStrings>-->
  
</configuration>