<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="IMPORT_PROCESS" value="PROCESSCONFIGURATION"/>
      <add key="FS_CXN" value="IMAGERIGHT.IMPORT.CONFIG.FSCONNECTIONCONFIGURATIONDATA, IMAGERIGHT.IMPORT.CONFIGURATION"/>
      <add key="FS_INTERACTION" value="IMAGERIGHT.IMPORT.CONFIG.FSINTERACTIONCONFIGURATIONDATA, IMAGERIGHT.IMPORT.CONFIGURATION"/>
      <add key="FIXED_PARSER_DATA" value="IMAGERIGHT.IMPORT.CONFIG.FIXEDLENGTHPARSERDATA, IMAGERIGHT.IMPORT.CONFIGURATION"/>
      <add key="DELIMITED_PARSER_DATA" value="IMAGERIGHT.IMPORT.CONFIG.DELIMITEDPARSERDATA, IMAGERIGHT.IMPORT.CONFIGURATION" />
    </appSettings>
    <connectionStrings>
      <add name="IR_PRD" connectionString="Data Source=DB-IMGDB-PRD\SQL2008;Initial Catalog=imageright;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="IR_DEV" connectionString="Data Source=DB-SQLENT3-VSE\DEV;Initial Catalog=imageright;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="IR_QAG" connectionString="Data Source=DB-SQLENTA-VSE\QAG;Initial Catalog=imageright;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="IR_QAQ" connectionString="Data Source=DB-SQLENTA-VSE\QAQ;Initial Catalog=imageright;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>